@import "../config/config.scss";

@import "../components/containers.scss";
@import "../components/buttons.scss";
@import "../components/icons.scss";
@import "../components/messages.scss";

#intro-section {
  margin-top: 35px;
  background: url("/assets/imgs/home/intro-image.png") center right no-repeat;
  background-size: 50%;

  h1 {
    margin-top: 65px;
  }

  &_links {
    > div {
      width: auto;
      padding: 0 15px;
      width: min-content;
    }

    > div:nth-child(1) {
      padding-left: 0;
    }

    > div:nth-child(2) {
      border-left: 1px solid $grey-light-light;
    }
  }
}

#sponsors-section {
  margin-top: 117px;
  margin-bottom: 125px;
  text-align: center;

  > div {
    img {
      height: 38px;
    }
  }
}

#topics-section {
  border-top: 2px solid $grey-light-light;
  margin-top: 50px;
  padding-top: 142px;

  > h2 {
    margin-bottom: 52px;
  }

  > div {
    color: $white;

    &:nth-child(2) {
      margin-top: 55px;
    }

    > article {
      max-width: 700px;
      height: 500px;

      > div {
        padding: 35px;
      }

      &:nth-child(1) > div {
        background: linear-gradient(to bottom, rgba(24, 59, 86, 0), #152532),
          url("/assets/imgs/home/topics_bg/1.png") center no-repeat;
        background-size: cover;
      }
      &:nth-child(2) > div {
        background: linear-gradient(to bottom, rgba(24, 59, 86, 0), #152532),
          url("/assets/imgs/home/topics_bg/2.png") center no-repeat;
        background-size: cover;
      }
      &:nth-child(3) > div {
        background: linear-gradient(to bottom, rgba(24, 59, 86, 0), #152532),
          url("/assets/imgs/home/topics_bg/3.png") center no-repeat;
        background-size: cover;
      }
    }
  }
}

#quote-section {
  margin-top: 158px;
  max-width: 915px;
  margin-bottom: 135px;

  &_quote-symbol {
    font-size: 40px;
    margin-bottom: 14px;
  }

  blockquote {
    font-size: $h2;
    line-height: 1.75;
    margin-bottom: 10px;
  }
}

#talks-section {
  background: url("/assets/imgs/common/footer-bg.svg") no-repeat center,
    linear-gradient(to bottom, #f8fbff, #ffffff);
  background-size: 105%, cover;
  background-position-y: 101%, center;

  &_speakers {
    padding-top: 145px;

    &_list {
      img {
        max-width: 100%;
        margin-bottom: 27px;
      }

      > div {
        ul {
          margin-left: 20px;

          li {
            line-height: 1.3;
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        h2 {
          letter-spacing: 0px;
          font-size: 2rem;
        }
      }

      > div:nth-child(2n + 1) {
        margin-top: 53px;
      }
      > div:nth-child(2n) {
        margin-top: 100px;
      }
    }
  }

  &_archive {
    margin-top: 126px;

    &_video-container {
      width: 100%;
      height: 100%;
      max-width: 730px;
      max-height: 600px;
      margin-top: 50px;

      video {
        object-fit: cover;
        margin-top: 60px;
      }
    }

    &_archiver-container {
      position: absolute;
      right: 24px;
      top: 0;
      width: 100%;
      height: 100%;
      max-width: 560px;
      max-height: 487px;
      background: $white;
      padding: 57px 54px;

      ul {
        padding-top: 11px;
      }
    }
  }

  &_event-tickets {
    margin-top: 137px;

    &_header {
      max-width: 600px;
      margin: auto;
    }

    &_tickets-container {
      margin-top: 67px;

      > div {
        max-width: 428px;
        height: 464px;

        > div {
          background-color: $white;
          border: 2px solid $grey-light-light;
          padding: 52px 35px;

          .danger-message {
            position: absolute;
            right: 20px;
            top: 25px;
          }

          img {
            width: 65px;
            padding: 10px;
            border-radius: 50%;
            border: 2px solid $grey-light-light;
            margin-bottom: 36px;
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  #topics-section {
    padding-top: 97px;
    
    > div {
      height: auto;

      article {
        height: 360px;
      }
    }
  }

  #sponsors-section {
    margin-top: 83px;
    margin-bottom: 83px;
  }

  #quote-section {
    margin-top: 88px;
    margin-bottom: 91px;
  }

  #talks-section_speakers {
    padding-top: 96px;
  }

  #talks-section_archive {
    margin-top: 106px;

    &_archiver-container {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: -46px;
    }

    &_video-container {
      max-height: 467px;

      video {
        margin-top: 0;
      }
    }
  }

  #talks-section_event-tickets {
    margin-top: 120px;

    &_tickets-container > div {
      max-width: 350px;

      > div {
        padding: 36px 35px;
      }
    }
  }
}

@media (max-width: 1200px) {
  #intro-section {
    background-position-x: 140%;
  }
}

@media (max-width: 900px) {
  #intro-section {
    background-position-x: 195%;
    background-size: 60%;
  }
}

@media (max-width: 767px) {
  #intro-section {
    background: unset;

    &_links > div {
      &:last-child {
        border-left: unset;
      }
    }
  }

  #sponsors-section {
    margin-bottom: 34px;
  }

  #topics-section {
    margin-top: 0;
    padding-top: 64px;

    > div > article {
      height: 375px;
      max-height: 375px;
    }
  }

  #quote-section {
    blockquote {
      font-size: 1.75rem;
    }
  }

  #talks-section_speakers_list {
    > div {
      margin-top: 33px !important;
      max-width: 300px;
    }
  }

  #talks-section_archive {
    margin-top: 50px;

    &_video-container {
      max-height: unset;
      border-radius: 0;

      video {
        border-radius: 0;
        width: 100%;
      }
    }

    &_archiver-container {
      border-radius: 0;
      margin-top: 0;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 23px;
      box-shadow: unset;
    }
  }

  #talks-section_event-tickets {
    &_tickets-container > div {
      height: 394px;
    }
  }

  #tft-footer {
    margin-top: -62px;
  }
}

@media (max-width: 520px) {
  #talks-section_archive_video-container {
    width: 100vw;
    margin-left: -15px;
  }
}
