@import "../config/config.scss";

@import "../components/containers.scss";
@import "../components/buttons.scss";
@import "../components/icons.scss";
@import "../components/messages.scss";

#intro-section {
  margin-top: 35px;
  background: url("/assets/imgs/home/intro-image.png") center right no-repeat;
  background-size: 50%;

  h1 {
    margin-top: 65px;
  }

  &_links {
    > div {
      width: auto;
      padding: 0 15px;
    }

    > div:nth-child(1) {
      padding-left: 0;
      width: min-content;
    }

    > div:nth-child(2) {
      border-left: 1px solid $grey-light-light;
    }
  }
}

#sponsors-section {
  margin-top: 117px;
  margin-bottom: 125px;
  text-align: center;

  &_sponsors {
    width: 100%;
    height: 80px;
    background: url("/assets/imgs/home/sponsors.svg") center repeat-x;
    background-size: contain;
  }
}

#topics-section {
  border-top: 2px solid $grey-light-light;
  margin-top: 50px;
  padding-top: 142px;

  > h2 {
    margin-bottom: 52px;
  }

  > div {
    height: 500px;
    color: $white;

    > article {
      height: 100%;

      > div {
        padding: 35px;
      }

      &:nth-child(1) > div {
        background: linear-gradient(to bottom, rgba(24, 59, 86, 0), #152532),
          url("/assets/imgs/home/topics_bg/1.png") center no-repeat;
        background-size: cover;
      }
      &:nth-child(2) > div {
        background: linear-gradient(to bottom, rgba(24, 59, 86, 0), #152532),
          url("/assets/imgs/home/topics_bg/2.png") center no-repeat;
        background-size: cover;
      }
      &:nth-child(3) > div {
        background: linear-gradient(to bottom, rgba(24, 59, 86, 0), #152532),
          url("/assets/imgs/home/topics_bg/3.png") center no-repeat;
        background-size: cover;
      }
    }
  }
}

#quote-section {
  margin-top: 160px;
  max-width: 915px;
  margin-bottom: 135px;

  &_quote-symbol {
    font-size: 40px;
    margin-bottom: 14px;
  }

  blockquote {
    font-size: $h2;
    line-height: 1.75;
    margin-bottom: 10px;
  }
}

#talks-section {
  background: linear-gradient(to bottom, #f8fbff, #ffffff);

  &_speakers {
    padding-top: 145px;

    &_list {
      img {
        max-width: 100%;
        margin-bottom: 27px;
      }

      > div {
        ul {
          margin-left: 20px;

          li {
            line-height: 1.3;
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        h2 {
          letter-spacing: 0px;
          font-size: 2rem;
        }
      }

      > div:nth-child(2n + 1) {
        margin-top: 53px;
      }
      > div:nth-child(2n) {
        margin-top: 100px;
      }
    }
  }

  &_archive {
    margin-top: 126px;

    &_video-container {
      width: 100%;
      height: 100%;
      max-width: 730px;
      max-height: 600px;
      margin-top: 50px;

      video {
        object-fit: cover;
        margin-top: 60px;
      }
    }

    &_archiver-container {
      position: absolute;
      right: 24px;
      top: 0;
      width: 100%;
      height: 100%;
      max-width: 560px;
      max-height: 487px;
      background: $white;
      padding: 57px 54px;

      ul {
        padding-top: 11px;
      }
    }
  }

  &_event-tickets {
    margin-top: 137px;

    &_header {
      max-width: 600px;
      margin: auto;
    }

    &_tickets-container {
      margin-top: 67px;

      > div {
        max-width: 428px;
        height: 464px;

        > div {
          background-color: $white;
          border: 2px solid $grey-light-light;
          padding: 52px 35px;

          .danger-message {
            position: absolute;
            right: 20px;
            top: 25px;
          }

          img {
            width: 65px;
            padding: 10px;
            border-radius: 50%;
            border: 2px solid $grey-light-light;
            margin-bottom: 36px;
          }
        }
      }
    }
  }
}
