$navbar-height: 100px;

body {
  padding-top: $navbar-height;
}

.h-navbar {
  height: $navbar-height;
}

.sub-navigation {
  display: none;
  height: 0;
  cursor: default;
  position: absolute;
  left: 0;
  top: 100%;
  width: max-content;
  background: $white;
  border-radius: 20px;
  box-shadow: 0 1px 10px 4px rgba(21, 37, 72, 0.1);
  z-index: 5;

  > div {
    height: 100%;
    width: 100%;
    padding: 0 40px;
    opacity: 0;
  }

  ul {
    list-style: none;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    li {
      margin: 10px 0px;
      padding: 0px 10px;
      display: inline-block;
    }

    h5 {
      color: $primary;
    }

    a {
      color: $black;
      font-size: 0.9rem;
    }
  }
}

#tft-navbar {
  .ehay-logo {
    height: 29px;
  }

  button,
  img {
    z-index: 60;
  }

  button {
    border: none;
    background-color: transparent;
    width: 30px;
  }
}

@media (min-width: 1200px) {
  #tft-navbar_items {
    clip-path: unset !important;
  }
}

@media (max-width: 1199px) {
  $navbar-height: 80px;

  .h-navbar {
    height: $navbar-height;
  }
  body {
    padding-top: $navbar-height;
  }

  #tft-navbar_items {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $white;
    z-index: 50;
    clip-path: circle(27px at 95.66% 39px);

    li {
      text-align: center;
      margin: 10px 0;
      font-size: $h4;

      &:first-child {
        margin-top: calc(-#{$navbar-height} / 2);
      }

      a {
        margin: 0px !important;
      }

      .primary-border-button {
        margin-top: 20px !important;
        font-size: $p2;
      }
    }
  }
}
