// Load fonts
@import "fonts/hk-grotesk.scss";
@import "fonts/open-sans.scss";

// Define sizes
$h1: 3.5rem;
$h2: 2.2rem;
$h3: 1.5rem;
$h4: 1.2rem;
$h5: 1rem;
$h6: 16pt;

$p1: 1.25rem;
$p2: 1rem;
$p3: .9rem;

$icon: 18pt;

$h1_spacing: 1.5px;
$h2_spacing: 1.5px;
$h3_spacing: 1.5px;
$h4_spacing: 1px;
$h5_spacing: 1px;
$h6_spacing: 0.5px;
$p1_spacing: 0.5px;
$p2_spacing: 0px;
$p3_spacing: -0.5px;